/* To stick the footer to the bottom of the page */
html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    display: inline;
    z-index: 1;
    opacity: 0.2;
    /*background: url('../images/abstr.jpg');*/
    /*background-size: cover;*/


    background-image: linear-gradient(to bottom, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.6) 100%), url(../images/abstr.jpg);

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
h1, h2, h3 {
    font-family: 'Roboto', sans-serif;

}

h2 {
    margin-top: 50px;
    margin-bottom: 25px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;


}

div.col-xs-4.menu-brand {
    font-size: 2em;
    z-index: 4;
}

.menu-list > ul {
    font-size: 1.5em;
}
i.fa-youtube-square, i.fa-android, i.fa-apple, i.fa-facebook, i.fa-twitter, i.fa-instagram, i.fa-envelope {
    font-size: 2em;
}


/*Carousel*/
.carousel {
    height: auto;
    overflow: hidden;

}
.carousel .item {
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}
.carousel .active.left, .carousel .active.right {
    left:0;
    opacity:0;
    z-index:2;
}
.carousel .next, .carousel .prev {
    left:0;
    opacity:1;
    z-index:1;
}
span.carousel-control-prev-icon, span.carousel-control-next-icon {
    height: 40px;
    width: 40px;
}

.carousel-item.active. img.img-responsive {
    width: 100%;
    height: auto;
    z-index: 1;
    position: relative;
    display: inline;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
}

.carousel {
    margin-top: 100px;
}

/*Carousel controlls override*/
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.menu {
    line-height:50px;
    border: none;
    margin-top: 0;
    background-color: navy;
    color: #ffffff;
    position: relative;
    min-height: 150px;
    display: block;

}

.menu a {
    color: #8a02d4;
    text-decoration: none;
    padding: 0 10px;
}

.menu-list {
    padding: 0;
    font-size: 0.9em;
}

.menu-list > ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-list > ul > li {
    display: inline;
    padding-right: 12px;
    padding-left: 12px;
}

footer {
    width: 100%;
    background: navy;
    padding-top: 70px;
    padding-bottom: 5px;
    font-size: 12px;
    color: #e0dfe6;
    /* To stick the footer to the bottom of the page */
    position: absolute;
    bottom: 0;
    /* Set the fixed height of the footer here */
    /*min-height: 180px;*/
}

footer a {
    color: #d3d3d3;
    text-decoration: none;
}

footer a:hover {
    color: #8a02d4;
    text-decoration: none;
}

/*About, Contact*/
.about, .contact {
    margin: 0 25%;
}





/*@media */
/*mobile phone*/
@media screen and (min-width: 319px) and (max-width: 823px) {

.col-xs-4.menu-list ul {
    font-size: 0.9em;
    display: block;
    }

body {
    background-image: none;
    background-color: lightblue;
}
div.container-fluid menu {
    line-height: 30px;
}
.menu a {
        padding: 0;
    }
.carousel {
        margin-top: 30px;
}
footer {
    display: none;
}
}


/*small screen*/
@media screen and (min-height: 319px) and (max-height: 415px) {

.col-xs-4.menu-list ul {
        display: inline;
    }
body {
    background-image: none;
    background-color: lightblue;
}
.menu a {
       padding: 0;
}
.carousel {
    margin-top: 20px;
    margin-bottom: 10px;
}

div.container-fluid {
    display: none;
    }
footer {
    display: none;
}
}
/*small ipad*/
/*@media screen and (max-width: 768px) {


    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}*/

/*ipad*/
@media screen and (max-width: 1024px) {

.col-xs-4.menu-list ul {
    font-size: 1.2em;
    display: block;
    }
footer {
    display: none;
}
}
/*desktop*/
@media screen and (min-width: 1025px) {

div.col-xs-4.menu-brand img {
        float: left;
}

.row2 .menu-list ul {
        display: inline;
        float: right;
    }


footer {
        width: 100%;
        background-color: navy;
        padding-top: 70px;
        padding-bottom: 5px;
        color: #c0bdc0;
        /* To stick the footer to the bottom of the page */
        position: absolute;
        bottom: 0;
        /* Set the fixed height of the footer here */
        /*min-height: 180px;*/
    }
}



